<main class="flex min-h-screen w-full flex-col justify-between">
  <header class="flex items-center justify-between px-4 py-3">
    <h2 class="font-bold text-white">{{ title }}</h2>
  </header>

  <section class="flex flex-1 flex-col lg:flex-row">
    <nav class="flex items-start justify-center">
      <ul class="flex flex-col">
        <li *ngFor="let tabIcon of tabs; let t = index" class="w-full">
          <button
            (click)="changeTab(t)"
            [class.border-white]="t === tab"
            [class.border-transparent]="t !== tab"
            class="group w-full border-l-2 px-6 py-4 text-white transition hover:cursor-pointer hover:bg-blue-500/25"
          >
            <ng-icon size="24" name="{{ tabIcon }}"></ng-icon>
          </button>
        </li>
      </ul>
    </nav>

    <article class="flex-1 bg-slate-800 px-8 py-8">
      <h3 class="mb-2 text-2xl font-semibold">Playground</h3>
      <p>
        The current value is
        <strong class="text-blue-500">{{ tab }}</strong>
        .
      </p>
    </article>
  </section>

  <footer class="flex items-center justify-between border-t px-4 py-3">
    <p class="text-sm text-gray-100">© {{ title }}, {{ year }}</p>
    <p class="text-sm text-gray-300">{{ author }}</p>
  </footer>
</main>

<router-outlet></router-outlet>
